:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-primary-solid: #6E56CF;
    --dark-secondary-solid: #7D66D9;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-icon-hover: #BAA7FF;
    --dark-skill-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-btn-border: #BAA7FF;
    --dark-btn-text: #BAA7FF;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

@font-face {
    font-family: 'Josans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Joslab';
    src: url('../fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/Open_sans/static/OpenSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-primary);
}

.am-container {
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 1700px;
    margin: 100px auto;
    background-color: var(--dark-primary);
}

.aboutme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    color: var(--dark-text);
}

.aboutme::before, .aboutme::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 50%;
    /* aspect-ratio: 1 / 1; */
    border: solid 1px var(--dark-primary-border);
}

.aboutme::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.aboutme::after {
    right: 0;
    bottom: 0;
    border-top: none;
    border-left: none;
}

.aboutme h1 {
    font-size: clamp(3em, 4.1vw, 5em);
    text-align: center;
    font-weight: 400;
    color: var(--dark-title);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.content .separator {
    width: 50%;
    /* margin: 30px 0; */
}

.content .separator:first-of-type {
    margin: 30px 0;
}

.back {
    position: absolute;
    left: 2.5%;
    top: 20px;
}

.back svg {
    fill: var(--dark-nav-icon);
    width: 40px;
    height: 40px;
    transition: all .2s ease;
}

/* .back:hover {
} */

.back:hover svg {
    fill: var(--dark-title);
    transform: translateX(-20px);
}

.content-bloc img {
    width: 80%;
}

.center-text {
    text-align: center;
    font-size: clamp(.8em, 1.15vw, 1.5em);
}

.abstract {
    text-align: center;
    font-size: clamp(.9em, 1.25vw, 1.5em);
    margin-top: 30px;
}

.content-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 50px; */
}

.content-part:nth-child(2n+1) {
    flex-direction: row;
}

.content-part:nth-child(2n) {
    flex-direction: row-reverse;
}

/* .content-part:last-child {
    margin-bottom: 50px;
} */

.content-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content-part p {
    text-align: justify;
    width: 45%;
    font-size: clamp(.8em, 1.15vw, 1.5em);
}

.content-part div {
    width: 45%;
}

.content-part img {
    width: 45%;
}

.content-part video {
    width: 45%;
}

.content-part div img {
    width: 100%;
    height: auto;
}


/* FOOTER */

.footer {
    background-color: var(--dark-secondary);
    position: static;
    height: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* margin-left: 80px; */
    font-size: .9em;
    color: var(--dark-text);
}

.web-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    fill: var(--dark-social-icon);
}

.lang-separator {
    fill: var(--dark-primary-separator);
}

.footer-links {
    display: none;
}

@media screen and (max-width: 800px) {

    .am-container {
        width: 100%;
        margin: 30px 0;
    }

    .aboutme {
        width: 100%;
    }

    .aboutme::before, .aboutme::after {
        display: none;
    }

    .abstract {
        font-size: clamp(.9em, 2.2vw, 1.7em);
    }

    .content-part:nth-child(2n+1) {
        flex-direction: column;
    }
    
    .content-part:nth-child(2n) {
        flex-direction: column;
    }

    .content-part {
        width: 100%;
        gap: 20px;
    }

    .content-part p {
        font-size: clamp(.8em, 2vw, 1.5em);
        width: 100%;
        /* text-align: center; */
    }

    .content-part video {
        width: 100%;
        max-width: 500px;
    }
    
    .content-part .discord-bot {
        width: 100%;
        max-width: 500px;
    }
    
    .content-part img {
        width: 100%;
        max-width: 500px;
    }

    .content .separator {
        width: 100%;
        /* margin: 30px 0; */
    }

    .center-text {
        font-size: clamp(.8em, 1.9vw, 1.5em);
    }
    
    .footer-links {
        position: static;
        margin-top: 10px;
    }
}