:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-primary-solid: #6E56CF;
    --dark-secondary-solid: #7D66D9;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-icon-hover: #BAA7FF;
    --dark-skill-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-btn-border: #BAA7FF;
    --dark-btn-text: #BAA7FF;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

@font-face {
    font-family: 'Josans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Joslab';
    src: url('../fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family: 'Opensans';
    src: url('../fonts/Open_sans/static/OpenSans-Regular.ttf');
}

body {
    background-color: var(--dark-primary);
}

.am-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-primary);
}

.aboutme {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 1700px;
    color: var(--dark-text);
}

.aboutme::before, .aboutme::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 50%;
    /* aspect-ratio: 1 / 1; */
    border: solid 1px var(--dark-primary-border);
}

.aboutme::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.aboutme::after {
    right: 0;
    bottom: 0;
    border-top: none;
    border-left: none;
}

.aboutme h1 {
    font-size: clamp(3em, 4.1vw, 5em);
    text-align: center;
    font-weight: 400;
    color: var(--dark-title);
}

.abstract {
    text-align: center;
    font-size: clamp(1.2em, 1.4vw, 1.6em);
}

.content {
    position: relative;
    width: 100%;
}


/* FOOTER */

.footer {
    background-color: var(--dark-secondary);
    position: static;
    height: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 80px;
    font-size: .9em;
    color: var(--dark-text);
}

.web-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    fill: var(--dark-social-icon);
}

.lang-separator {
    fill: var(--dark-primary-separator);
}

.footer-links {
    display: none;
}