:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-primary-solid: #6E56CF;
    --dark-secondary-solid: #7D66D9;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-icon-hover: #BAA7FF;
    --dark-skill-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-btn-border: #BAA7FF;
    --dark-btn-text: #BAA7FF;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

@font-face {
    font-family: 'Josans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Joslab';
    src: url('../fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family: 'Open sans';
    src: url('../fonts/Open_sans/static/OpenSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: var(--dark-primary);
    color: var(--dark-text);
}

header {
    position: relative;
    height: clamp(100px, 15vw, 600px);
    width: min(80vw, 1400px);
    background-color: var(--dark-primary);
    overflow: hidden;
}

.banner {
    position: absolute;
    width: 100%;
    bottom: -20%;
    filter:  opacity(.6);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 1400px;
}

.content::before, .content::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 50%;
    /* aspect-ratio: 1 / 1; */
    border: solid 1px var(--dark-primary-border);
}

.content::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.content::after {
    right: 0;
    bottom: 0;
    border-top: none;
    border-left: none;
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    width: 80%;
    margin: 50px 0;
}

.back {
    position: absolute;
    left: 2.5%;
    top: 20px;
}

.back svg {
    fill: var(--dark-nav-icon);
    width: 40px;
    height: 40px;
    transition: all .2s ease;
}

.back:hover {
}

.back:hover svg {
    fill: var(--dark-title);
    transform: translateX(-20px);
    transition: all .2s ease;
}

.project-name {
    font-size: clamp(3em, 4.1vw, 5em);
    text-align: center;
    font-weight: 400;
    color: var(--dark-title);
}

.project-description {
    text-align: center;
    font-size: clamp(.9em, 1.25vw, 1.5em);
    line-height: 1.7em;
    vertical-align: middle;
}

.project-description span  {
    font-size: clamp(.6em, 7.7vw .8em);
    /* height: max-content; */
    padding: 0 4px;
    background-color: var(--dark-secondary);
}

.project-description span img  {
    height: 17px;
}

.project-content .separator {
    width: 50%;
    margin: 30px 0;
}


.content-bloc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.content-bloc p {
    
    font-size: clamp(.8em, 1.15vw, 1.5em);
}

.content-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-part:nth-child(2n+1) {
    flex-direction: row;
}

.content-part:nth-child(2n) {
    flex-direction: row-reverse;
}

.bloc-text {
    width: 45%;
    text-align: justify;
}

.content-part video {
    width: 45%;
    height: 100%;
}

.content-part img {
    width: 45%;
}

.summup {
    text-align: justify;
    font-size: clamp(.8em, 1.15vw, 1.5em);
}

.conclusion {
    text-align: center;
    font-size: clamp(.9em, 1.15vw, 1.5em);
}


/* FOOTER */

.footer {
    position: relative;
    background-color: var(--dark-secondary);
    width: 100%;
    height: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: .9em;
    color: var(--dark-text);
}

.web-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    fill: var(--dark-social-icon);
}

.lang-separator {
    fill: var(--dark-primary-separator);
}

.footer-links {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 10%;
    bottom: 5%;
}

.footer-links a {
    display: block;
    margin: 2px 0;
    max-height: 20px;
}

@media screen and (max-width: 800px) {

    header {
        width: 100%;
    }

    .content-part:nth-child(2n+1) {
        flex-direction: column;
    }
    
    .content-part:nth-child(2n) {
        flex-direction: column;
    }

    .content-part {
        width: 100%;
        gap: 20px;
    }

    .bloc-text {
        width: 100%;
        text-align: center;
    }

    .content-part video {
        width: 80%;
    }
    
    .content-part img {
        width: 80%;
    }

    .footer-links {
        position: static;
        margin-top: 10px;
    }
}