:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-primary-solid: #6E56CF;
    --dark-secondary-solid: #7D66D9;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-icon-hover: #BAA7FF;
    --dark-skill-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-btn-border: #BAA7FF;
    --dark-btn-text: #BAA7FF;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

@font-face {
    font-family: 'Josans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Joslab';
    src: url('../fonts/Josefin_Slab/static/JosefinSlab-Regular.ttf');
}

@font-face {
    font-family: 'Open sans';
    src: url('../fonts/Open_sans/static/OpenSans-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-primary);
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--dark-primary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-left: 80px;
    width: 100%;
    max-width: 1700px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    border-right: solid 1px var(--dark-primary);
    background-color: var(--dark-secondary);
    z-index: 99;
}

.img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.img-icon img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    height: 85%;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    position: relative;
    margin: 10px 0;
    /* transition: all .2s ease; */
}

/* .nav-item:hover {
    box-shadow: 0 0px 30px 0px var(--dark-nav-icon) inset;
    transition: all .2s ease;

} */

.nav-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 1px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-radius: 1px;
    background-color: var(--dark-nav-icon);
    transition: all .2s ease-out;
}

.nav-item:hover::after {
    transform: translatex(-50%) scale(4, 1);
    transition: all .2s ease-out;
}

/* TODO: ce style est facultatif, si pour la responsivité cela pose problème, enlever */
.nav-item a {
    display: block;
    height: max-content;
}

.img-icon-container {
    aspect-ratio: 1 / 1;
}

.nav-container-item {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.links a {
    display: block;
    margin: 2px 0;
    max-height: 30px;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-primary);
}

/* .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
} */

.header-container {
    height: 100%;
    margin-left: 80px;
    width: 100%;
    max-width: 1700px;
}

.header-text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.header-text .separator {
    width: 70%;
    margin: 40px 0;
}

.main-title {
    color: var(--dark-title);
    font-size: clamp(2.7em, 5.7vw, 6em);
    font-weight: 500;
}

.header-text h4 {
    font-size: clamp(.8em, 1.3vw, 2em);
    font-weight: 400;
    color: var(--dark-subtitle);
}

.header-text .description {
    font-size: clamp(.6em, 1.6vw, 1.85em);
    width: 110%;
    color: var(--dark-text);
}

#media800-description {
    display: none;
}

.profile-img {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: var(--dark-text);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    width: clamp(200px, 24vw, 400px);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    border-radius: 50%;
}

.header-butons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 80%;
    left: 50%;
    width: 300px;
    height: 45px;
    /* background-color: red; */
    transform: translateX(-50%);
}

.header-cv-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: clamp(130px, 40%, 140px);
    height: 100%;
}

.header-cv-btn span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cv-btn:hover {
    height: 150%;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: solid 2px var(--dark-social-icon);
    border-radius: 2.5em;
    color: var(--dark-social-icon);
    font-family: Saira;
    text-decoration: none;
    font-size: .90em;
    cursor: pointer;
    transition: all .3s ease;
}

.header-btn:hover {
    border: solid 2px var(--dark-btn-border);
    color: var(--dark-btn-text);
}

.hdr-btn-span svg {
    fill: var(--dark-social-icon);
    transition: all .3s ease;
}

.header-btn:hover span svg {
    fill: var(--dark-btn-text);
}

.header-cv-btn:hover #cv-download {
    transform: translateY(110%);
    opacity: 1;
}

#cv-show span:nth-child(2) {
    position: absolute;
    left: 10px;
    opacity: 1;
}

/* gérer les 2 boutons déroulants */

.header-cv-btn:hover #cv-show span:nth-child(1) {
    opacity: 0;
}

.header-cv-btn:hover #cv-show span:nth-child(2) {
    opacity: 1;
    /* transition: all .2s ease; */
}

#media800-hdr-btn-span {
    display: none;
}

#cv-show span:nth-child(1) {
    opacity: 1;
    /* transition: all .2s ease; */
}

#cv-show span:nth-child(2) {
    opacity: 0;
}

#cv-download span {
    opacity: 0;
}

.header-cv-btn:hover #cv-download span {
    display: flex;
    opacity: 1;
}

/*  */

#about-me {
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(130px, 40%, 140px);
}

#cv-download {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .5;
}

#header-separator {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

/* SKILL */

.skills-box-container {
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 4%;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    width: 22%;
    min-width: 240px;
    height: 200px;
    border: solid 2px var(--dark-primary-border);
    border-radius: 4px;
    background-color: var(--dark-secondary);
}

.skills-box h3 {
    margin-top: 10px;
    color: var(--dark-subtitle);
}

.skills-box h4 {
    color: var(--dark-text);
}

.skills-box .separator {
    background-color: var(--dark-secondary-separator);
}

.skills {
    width: 100%;
    gap: 10px;
}

.skill {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    gap: 7px;
}

.skill-icon {
    width: 35px;
    height: 35px;
    fill: var(--dark-skill-icon);
}

.skill-separator {
    height: 2px;
    border-radius: 1px;
    background-color: var(--dark-text);
    width: 27%;
}

.skill-name {
    font-family: Saira;
    font-size: 1.5em;
    font-weight: 400;
}

#latex-skill-name {
    width: 5.5em;
    /* height: 100px; */
}

/* PROJECTS */

.project-container {}

.projects-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.projects-presentation .description {
    width: 60%;
    color: var(--dark-text);
    font-size: clamp(.9em, 1.6vw, 1.8em);
}

#media800-projects-description {
    display: none;
}

.projects {
    max-height: 500px;
    height: max(30vw, 250px);
    width: 40%;
    gap: 10px;
}

.projects a:nth-child(n+1):nth-child(-n+3) {
    /*  sélectionner du premier enfant jusqu'au 3e*/
    display: block;
    width: 100%;
    height: 30%;
    text-decoration: none;
    color: var(--dark-subtitle);
}

.projects a:nth-child(2) {
    transform: translateX(-20%);
}

.projects a:nth-child(3) {
    transform: translateX(-40%);
}

.project-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 2px var(--dark-secondary-border);
    background-color: rgba(41, 31, 67, .4);
    /*#291F43 tertiary*/
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 110%;
    /* filter: brightness(0.3); */
    transition: all .3s ease;
}

.project-box:hover {
    background-size: 100%;
    background-color: rgba(41, 31, 67, .2);
    transition: background-size 8s ease, background-color .3s ease;
}

.project-box h1 {
    margin: 5px 10px;
    font-size: clamp(1.2em, 2.2vw, 2.5em);
    font-family: Josans;
}

.project-bg {}

#project1 {
    background-image: url('../images/project1.jpeg');
}

#project2 {
    background-image: url('../images/project2.png');
}

#project3 {
    background-image: url('../images/pexels-goumbik-574071.jpg');
}

.all-projects {
    width: max-content;
    padding: 8px 6px;
    border: solid 2px var(--dark-btn-border);
    border-radius: 20px;
    color: var(--dark-btn-text);
    font-family: Saira;
    font-size: max(0.93vw, .6em);
    /* z-index: -1; */
}

.all-projects-a {
    display: block;
    position: absolute;
    top: 80%;
    right: 0%;
    text-decoration: none;
}

/* CAREER */

.career-container {
    position: relative;
    /* min-height: 100vh; */
}

/* #career-separator {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 45px;
} */

.timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    gap: 70px;
    width: 80%;
    /* height: 400px; */
}

.timeline::before {
    content: "";
    position: absolute;
    width: 4px;
    top: 10px;
    left: 0;
    bottom: 4px;
    background-color: var(--dark-title);
}

.timeline::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 12px;
    height: 12px;
    border-right: solid 4px var(--dark-title);
    border-bottom: solid 4px var(--dark-title);
    transform: rotate(45deg) translateX(-50%);
    /* rotate: 0 0 1 45deg;
    translate: -50% 0; */
}

.article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 2px; */
    /* background-color: var(--dark-secondary); */
    margin-left: 30px;
}

.article .date {
    position: absolute;
    top: -65px;
    left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: clamp(4em, 6.3vw, 7em);
    /* font-weight: 800; */
    font-style: italic;
    color: var(--dark-title);
    opacity: .3;
}

.article .name {
    margin-left: 8px;
    font-size: clamp(1.2em, 1.8vw, 2em);
    font-family: Josans;
    /* font-weight: 600; */
    color: var(--dark-subtitle);
    /* z-index: 10; */
}

.article .course {
    font-family: Anek;
    font-size: clamp(1.1em, 1.5vw, 1.8em);
    margin-top: 5px;
    margin-left: 25px;
    color: var(--dark-subtitle);
}

.article .description {
    position: relative;
    font-size: clamp(.8em, 1.1vw, 1.5em);
    font-family: Saira;
    padding-left: 20px;
    color: var(--dark-text);
}

.article .description a {
    text-decoration: underline;
    color: var(--dark-subtitle);
    transition: all .2s ease;
}

.article .description a:hover {
    color: var(--dark-title);
}

.article .description::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 3px;
    background-color: var(--dark-social-icon);
}

.article::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -35px;
    rotate: 45deg;
    /* transform: translateY(-50%); */
    translate: 0 -50%;
    width: 10px;
    height: 10px;
    background-color: var(--dark-primary);
    border: solid 2px var(--dark-title);
    border-radius: 1px;
}


/* CONTACT */

.contact-container {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* margin: 30px 0 0px 80px;
    width: 100%;
    max-width: 1400px; */
    min-height: 100vh;
}

.form-container {
    width: max(400px, 30%);
}

.form-item {
    position: relative;
}

#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Saira;
    color: var(--dark-text);
}

.inputs {
    width: 100%;
    gap: 30px;
}

.input {
    position: relative;
}

.input::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 105%;
    height: 1px;
    background-color: var(--dark-social-icon);
}

.input-label {
    position: absolute;
    top: 0%;
    left: 0;
    white-space: nowrap;
    text-transform: uppercase;
    /* transform: translateY(-50%); */
    background: var(--color-background);
    transition: transform .5s ease-out;
    /* line-height: 1; */
    font-size: 1em;
    pointer-events: none;
    color: var(--dark-social-icon);
}

.input-field {
    display: block;
    width: 100%;
    height: 2em;
    font-size: 1.1em;
    border: none;
    color: var(--dark-text);
    background: transparent;
    outline: none;
}

.input-field:focus+.input-label,
.input-field:not(:placeholder-shown)+.input-label {
    transform: translateY(-100%);

}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    /* not use this method */
    -webkit-appearance: none; 
}

#message {
    height: 5em;
    font-family: Saira;
    font-size: 1em;
    resize: none;
}

#message::-webkit-scrollbar {
    width: 6px;
    background-color: var(--dark-secondary);
    border-radius: 3px;
}

#message::-webkit-scrollbar-thumb {
    background-color: var(--dark-social-icon);
    border-radius: 3px;
}

#message .input-label {
    top: 0;
}

#contact-form h3 {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: normal;
    color: var(--dark-social-icon);
}

/* TODO: make the line scale on focus - create a specific div */
/* .input-field:focus-within::after {
    width: 120%;
} */

.form-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.form-btn {
    position: relative;
    width: max-content;
    min-width: 80px;
    height: 2em;
}

.btn-input {
    display: none;
}

.btn-label-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    min-width: 80px;
    height: 100%;
    cursor: pointer;
    border: solid 2px var(--dark-social-icon);
    border-radius: 1em;
    text-align: center;
    font-size: .9em;
    padding: 10px 3px;
    transition: all .2s ease;
}

.btn-label {
    width: max-content;
    text-wrap: nowrap;
    color: var(--dark-social-icon);
    transition: all .2s ease;
}

.form-btn:hover .btn-label {
    color: var(--dark-title);
}

.form-btn:hover .btn-label-box {
    color: var(--dark-title);
    border: solid 2px var(--dark-title);
}

.btn-input:checked + .btn-label-box .btn-label {
    color: var(--dark-title);
}

.btn-input:checked + .btn-label-box {
    border: solid 2px var(--dark-title);
}

#send-form {
    font-family: Saira;
    cursor: pointer;
    width: 100px;
    height: 2.5em;
    border: solid 2px transparent; /* to have a clean transition for the border */
    border-radius: 1.2em;
    font-size: 1.1em;
    background-color: var(--dark-nav-icon);
    transition: all .2s ease-out;
}

#send-form:hover {
    color: var(--dark-text);
    background-color: transparent;
    border: solid 1px var(--dark-subtitle);
    transition: all .2s ease-out;
}


/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-secondary);
    position: static;
    width: 100%;
    height: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    max-width: 1700px;
    margin-left: 80px;
    font-size: .9em;
    color: var(--dark-text);
}

.web-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    fill: var(--dark-social-icon);
}

.lang-separator {
    fill: var(--dark-primary-separator);
}

.footer-links {
    display: none;
}

/* TODO: media query max-width à 900px - bouton all-projects à modifier*/

@media screen and (max-width: 800px) {
    .container, .contact-container {
        margin-left: 0;
        width: 100%;
    }

    .nav-container {
        top: auto;
        bottom: 0;
        width: 100vw;
        height: 60px;
        border-right: none;
        border-top: solid 3px var(--dark-primary);
    }

    .img-icon-container {
        display: none;
    }

    .nav {
        position: absolute;
        flex-direction: row;
        /* justify-content: ; */
        width: max(200px, 50%);
        bottom: 0px;
    }

    .nav-item a {
        /* height: 40px; */
    }

    .links {
        display: none;
    }

    .header {
        height: calc(100vh - 60px);
        /* pour faire en sorte que le header se termine au niveau de la nav en bas */
    }

    .header-container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
    }

    .header-text .separator {
        width: 100%;
    }

    .header-text .description {
        display: none;
    }

    #media800-description {
        display: block;
        width: 100%;
        font-size: max(1.1vw, 1em);
        line-height: 1.8em;
        text-align: center;
    }

    .profile-img {
        position: relative;
        top: 0;
        right: 0;
        width: 40vw;
        min-width: 240px;
        transform: translate(0, 0);
    }

    /* Header btns */

    .header-butons {
        top: 90%;
        width: 80%;
    }

    /* .header-cv-btn, #cv-show {
        max-width: 130px;
    } */

    #cv-show .hdr-btn-span:first-child, #cv-show .hdr-btn-span:nth-child(2) {
        display: none;
    }

    #cv-show .hdr-btn-span:last-child {
        opacity: 1;
    }

    #media800-hdr-btn-span {
        display: flex;
    }

    #cv-download {
        display: none;
    }

    /* PROJECTS */

    .projects-presentation {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .projects-presentation .description {
        width: 100%;
        text-align: center;
        font-size: 1.1em;
    }

    #projects-description {
        display: none;
    }

    #media800-projects-description {
        display: block;
    }

    .projects {
        align-items: center;
        height: 450px;
        width: max(50%, 320px);
    }

    .projects a:nth-child(2) {
        transform: translateX(0);
    }

    .projects a:nth-child(3) {
        transform: translateX(0);
    }



    .project-box h1 {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translateX(-50%);
        font-size: 2em;
    }

    .all-projects-a {
        margin-top: 10px;
        position: static;
        width: max-content;
        right: none;
    }

    /* CAREER */

    .article .date {
        top: -40px;
        left: 30px;
    }

    /* CONTACT */

    .form-container {
        width: 90%;
    }

    /* FOOTER */

    .footer {
        height: 200px;
    }

    .footer-container {
        height: calc(100% - 60px);
        margin-left: 0;
    }

    .footer-links {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 80%;
        gap: 20px;
        margin-top: 15px;
    }

    .footer-links a {
        display: block;
        margin: 2px 0;
        max-height: 20px;
    }
}