:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-icon-hover: #D19DFF;
    --dark-skill-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-btn-border: #BAA7FF;
    --dark-btn-text: #BAA7FF;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-primary);
}

section {
    background-color: var(--dark-primary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-left: 80px;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: var(--dark-secondary);
}

.nav-links {
    height: 85%;
}

.nav-item {
    position: relative;
    margin: 10px 0;
    /* transition: all .2s ease; */
}

/* .nav-item:hover {
    box-shadow: 0 0px 30px 0px var(--dark-nav-icon) inset;
    transition: all .2s ease;

} */

.nav-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 1px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-radius: 1px;
    background-color: var(--dark-nav-icon);
    transition: all .2s ease-out;
}

.nav-item:hover::after {
    /* transform-origin: left; */
    transform: translatex(-50%) scale(4, 1);
    transition: all .2s ease-out;
}

/* TODO: ce style est facultatif, si pour la responsivité cela pose problème, enlever */
.nav-item a {
    display: block;
    height: 40px;
}

.img-icon-container {
    aspect-ratio: 1 / 1;
}

.img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.nav-container-item {
    width: 100%;
}

.links {
    margin-bottom: 50px;
}

.links a {
    display: block;
    margin: 2px 0;
    max-height: 30px;
}

/* HEADER */

.header {
    height: 100vh;
    background-color: var(--dark-primary);
}

/* .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
} */

.header-container {
    height: 100%;
    margin-left: 80px;
}

.header-text {
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title {
    color: var(--dark-title);
    font-size: 5.5em;
    font-weight: 1000;
}

.header-text h4 {
    font-weight: 500;
    color: var(--dark-subtitle);
}

.header-text .description {
    font-size: 1.5em;
    width: 120%;
    color: var(--dark-text);
}

.profile-img-container {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.profile-img {
    width: 350px;
    background-color: var(--dark-text);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

#header-separator {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

/* SKILL */

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    width: 22%;
    height: 200px;
    border: solid 2px var(--dark-primary-border);
    border-radius: 4px;
    background-color: var(--dark-secondary);
}

.skills-box h3 {
    margin-top: 10px;
    color: var(--dark-subtitle);
}

.skills-box h4 {
    color: var(--dark-text);
}

.skills-box .separator {
    background-color: var(--dark-secondary-separator);
}

.skills {
    width: 100%;
    gap: 10px;
}

.skill {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    gap: 7px;
}

.skill-icon {
    width: 35px;
    height: 35px;
    fill: var(--dark-skill-icon);
}

.skill-separator {
    height: 2px;
    border-radius: 1px;
    background-color: var(--dark-text);
    width: 27%;
}

.skill-name {
    font-family: Saira;
    font-size: 1.5em;
    font-weight: 400;
}

#latex-skill-name {
    width: 100px;
    height: 100px;
}

/* PROJECTS */

.projects-presentation .description {
    width: 60%;
    color: var(--dark-text);
    font-size: 1.5em;
}

.projects {
    height: 350px;
    width: 40%;
    gap: 10px;
}

.projects a:nth-child(n+1):nth-child(-n+3) { /*  sélectionner du premier enfant jusqu'au 3e*/
    display: block;
    width: 100%;
    height: 30%;
    text-decoration: none;
    color: var(--dark-subtitle);
}

.projects a:nth-child(2) {
    transform: translateX(-20%);
}

.projects a:nth-child(3) {
    transform: translateX(-40%);
}

.project-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 2px var(--dark-secondary-border);
    background-color: rgba(41, 31, 67, .8); /*#291F43 tertiary*/
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 110%;
    /* filter: brightness(0.3); */
    transition: all .3s ease;
}

.project-box:hover {
    background-size: 100%;
    background-color: rgba(41, 31, 67, 0);
    transition: background-size 8s ease, background-color .3s ease;
}

.project-box h1 {
    margin: 5px 10px;
    /* font-family: Saira; */
}

.project-bg {
}

#project1 {
    background-image: url('../images/project1.jpeg');
}

#project2 {
    background-image: url('../images/project2.png');
}

#project3 {
    background-image: url('../images/pexels-goumbik-574071.jpg');
}

.all-projects {
    width: max-content;
    padding: 8px 6px;
    border: solid 2px var(--dark-btn-border);
    border-radius: 20px;
    color: var(--dark-btn-text);
    font-family: Saira;
    font-size: .9em;
    /* z-index: -1; */
}

.all-projects-a {
    display: block;
    position: absolute;
    top: 80%;
    right: 0%;
    text-decoration: none;
}