:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-icon-hover: #D19DFF;
    --dark-skill-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-btn-border: #BAA7FF;
    --dark-btn-text: #BAA7FF;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-primary);
}

section {
    background-color: var(--dark-primary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-left: 80px;
    max-width: 1400px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    border-right: solid 1px var(--dark-primary);
    background-color: var(--dark-secondary);
    z-index: 99;
}

.img-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.img-icon img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.nav-links {
    height: 85%;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    position: relative;
    margin: 10px 0;
    /* transition: all .2s ease; */
}

/* .nav-item:hover {
    box-shadow: 0 0px 30px 0px var(--dark-nav-icon) inset;
    transition: all .2s ease;

} */

.nav-item::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 1px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border-radius: 1px;
    background-color: var(--dark-nav-icon);
    transition: all .2s ease-out;
}

.nav-item:hover::after {
    transform: translatex(-50%) scale(4, 1);
    transition: all .2s ease-out;
}

/* TODO: ce style est facultatif, si pour la responsivité cela pose problème, enlever */
.nav-item a {
    display: block;
    height: max-content;
}

.img-icon-container {
    aspect-ratio: 1 / 1;
}

.nav-container-item {
    width: 100%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.links a {
    display: block;
    margin: 2px 0;
    max-height: 30px;
}

/* HEADER */

.header {
    height: 100vh;
    background-color: var(--dark-primary);
}

/* .bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
} */

.header-container {
    height: 100%;
    margin-left: 80px;
    max-width: 1400px;
}

.header-text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.header-text .separator {
    width: 70%;
    margin: 30px 0;
}

.main-title {
    color: var(--dark-title);
    font-size: clamp(3em, 5.7vw, 6.5em);
    /* font-size: 5.5em; */
    font-weight: 1000;
}

.header-text h4 {
    font-weight: 500;
    color: var(--dark-subtitle);
}

.header-text .description {
    font-size: clamp(.6em, 1.6vw, 2.3em);
    width: 110%;
    color: var(--dark-text);
}

#media800-description {
    display: none;
}

.profile-img {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    background-color: var(--dark-text);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    max-width: 350px;
    width: max(24vw, 200px);
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: fill;
    border-radius: 50%;
}

#header-separator {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

/* SKILL */

.skills-box-container {
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 4%;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 10px;
    width: 22%;
    min-width: 240px;
    height: 200px;
    border: solid 2px var(--dark-primary-border);
    border-radius: 4px;
    background-color: var(--dark-secondary);
}

.skills-box h3 {
    margin-top: 10px;
    color: var(--dark-subtitle);
}

.skills-box h4 {
    color: var(--dark-text);
}

.skills-box .separator {
    background-color: var(--dark-secondary-separator);
}

.skills {
    width: 100%;
    gap: 10px;
}

.skill {
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    gap: 7px;
}

.skill-icon {
    width: 35px;
    height: 35px;
    fill: var(--dark-skill-icon);
}

.skill-separator {
    height: 2px;
    border-radius: 1px;
    background-color: var(--dark-text);
    width: 27%;
}

.skill-name {
    font-family: Saira;
    font-size: 1.5em;
    font-weight: 400;
}

#latex-skill-name {
    width: 5.5em;
    /* height: 100px; */
}

/* PROJECTS */

.project-container {
}

.projects-presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.projects-presentation .description {
    width: 60%;
    color: var(--dark-text);
    font-size: max(1.6vw, .9em);
}

#media800-projects-description {
    display: none;
}

.projects {
    max-height: 350px;
    height: max(30vw, 250px);
    width: 40%;
    gap: 10px;
}

.projects a:nth-child(n+1):nth-child(-n+3) { /*  sélectionner du premier enfant jusqu'au 3e*/
    display: block;
    width: 100%;
    height: 30%;
    text-decoration: none;
    color: var(--dark-subtitle);
}

.projects a:nth-child(2) {
    transform: translateX(-20%);
}

.projects a:nth-child(3) {
    transform: translateX(-40%);
}

.project-box {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 2px var(--dark-secondary-border);
    background-color: rgba(41, 31, 67, .4); /*#291F43 tertiary*/
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: 110%;
    /* filter: brightness(0.3); */
    transition: all .3s ease;
}

.project-box:hover {
    background-size: 100%;
    background-color: rgba(41, 31, 67, .2);
    transition: background-size 8s ease, background-color .3s ease;
}

.project-box h1 {
    margin: 5px 10px;
    /* font-family: Saira; */
}

.project-bg {
}

#project1 {
    background-image: url('../images/project1.jpeg');
}

#project2 {
    background-image: url('../images/project2.png');
}

#project3 {
    background-image: url('../images/pexels-goumbik-574071.jpg');
}

.all-projects {
    width: max-content;
    padding: 8px 6px;
    border: solid 2px var(--dark-btn-border);
    border-radius: 20px;
    color: var(--dark-btn-text);
    font-family: Saira;
    font-size: max(0.93vw, .6em);
    /* z-index: -1; */
}

.all-projects-a {
    display: block;
    position: absolute;
    top: 80%;
    right: 0%;
    text-decoration: none;
}

/* CONTACT */

.contact-container {
    height: 100vh;
}

.form-container {
    width: 20%;
}

.form-item {
    position: relative;
    width: 100%;
}

#contact-form {
    gap: 20px;
    font-family: Saira;
    color: var(--dark-text);
}

.form-item::before {
    content: attr(data-placeholder);
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--dark-social-icon);
    font-family: Saira;
}

#contact-form input, #contact-form textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--dark-social-icon);
    color: var(--dark-social-icon);
}

#contact-form input::placeholder, #message::placeholder {
    font-family: Saira;
    color: var(--dark-social-icon);
}

/* FOOTER */

.footer {
    background-color: var(--dark-secondary);
    position: static;
    height: 100px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-left: 80px;
    font-size: .9em;
    color: var(--dark-text);
}

.web-languages {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-separator {
    fill: var(--dark-social-icon);
}

.lang-separator {
    fill: var(--dark-primary-separator);
}

.footer-links {
    display: none;
}

/* TODO: media query max-width à 900px - bouton all-projects à modifier*/

@media  screen and (max-width: 800px) {
    .container {
        margin-left: 0;
        width: 100%;
    }

    .nav-container {
        top: auto;
        bottom: 0;
        width: 100vw;
        height: 60px;
        border-right: none;
        border-top: solid 3px var(--dark-primary);
    }

    .img-icon-container {
        display: none;
    }

    .nav {
        position: absolute;
        flex-direction: row;
        /* justify-content: ; */
        width: max(200px, 50%);
        bottom: 0px;
    }

    .nav-item a {
        /* height: 40px; */
    }

    .links {
        display: none;
    }

    .header {
        height: calc(100vh - 60px); /* pour faire en sorte que le header se termine au niveau de la nav en bas */
    }
    
    .header-container {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .header-text {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        text-align: center;
    }

    .header-text .separator {
        width: 100%;
    }

    .header-text .description {
        display: none;
    }

    #media800-description {
        display: block;
        width: 100%;
        font-size: max(1.19vw, 1em);
        line-height: 1.8em;
        text-align: center;
    }

    .profile-img {
        position: relative;
        top: 0;
        right: 0;
        width: 40vw;
        min-width: 240px;
        transform: translate(0, 0);
    }

    .projects-presentation {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .projects-presentation .description {
        width: 100%;
        text-align: center;
        font-size: 1.1em;
    }

    #projects-description {
        display: none;
    }

    #media800-projects-description {
        display: block;
    }

    .projects {
        align-items: center;
        height: 450px;
        width: max(50%, 320px);
    }

    .projects a:nth-child(2) {
        transform: translateX(0);
    }
    
    .projects a:nth-child(3) {
        transform: translateX(0);
    }

    .all-projects-a {
        margin-top: 10px;
        position: static;
        width: max-content;
        right: none;
    }

    .footer {
        height: 200px;
    }

    .footer-container {
        height: calc(100% - 60px);
        margin-left: 0;
    }

    .footer-links {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 80%;
        gap: 20px;
        margin-top: 15px;
    }

    .footer-links a {
        display: block;
        margin: 2px 0;
        max-height: 20px;
    }
}