:root {
    --dark-primary: #1B1525;
    --dark-secondary: #14121F;
    --dark-tertiary: #291F43;

    --dark-title: #BAA7FF;
    --dark-subtitle: #E2DDFE;
    --dark-nav-icon: #E2DDFE;
    --dark-social-icon: #B4B4B4;
    --dark-text: #EEEEEE;

    --dark-primary-separator: #473876;
    --dark-secondary-separator: #291F43;
    --dark-primary-border: #3C2E69;
    --dark-secondary-border: #56468B;
}

@font-face {
    font-family: 'Saira', 'Open Sans';
    src: url('../fonts/Saira/static/Saira-Regular.ttf');
}

@font-face {
    font-family: 'Anek', 'Open Sans';
    src: url('../fonts/Anek_Gurmukhi/static/AnekGurmukhi-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: var(--dark-secondary);
}

.nav-links {
    height: 85%;
}

.nav-item {
    margin: 10px 0;
}


/* NAV ICONS */

.nav-container .img-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #EEEEEE;
}

.nav-item svg  {
    width: 40px;
    height: 40px;
}

#nav-home path {
    fill: var(--dark-nav-icon);
}

#nav-projects path {
    stroke: var(--dark-nav-icon);
}

.skills-st0 {
    fill: none;
    stroke: var(--dark-nav-icon);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.skills-st1 {
    fill: none;
    stroke: var(--dark-nav-icon);
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.skills-st2 {
    fill: none;
    stroke: var(--dark-nav-icon);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.career-st0 {
    fill: var(--dark-nav-icon);
}

#nav-contact path {
    stroke: var(--dark-nav-icon)
}

.links svg {
    width: 30px;
    height: 30px;
    margin: 5px 0;
    fill: var(--dark-social-icon);
}

.links {
    height: 200px;
}

/* HEADER */

.header {
    height: 100vh;
    background-color: var(--dark-primary);
}